<body class="body">
    <section class="titulo">
        <h1 >Servicios de consultoria</h1>
      
    </section>
    <hr>
    <section class="contenido">
        
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-4">
                <br><br><br>
                <ul class="list-group">
                    <li class="list-group-item-action" (click)="redirigirRequisitos()"> 
                        ‎ ‎ ‎ ‎ ‎ ‎ Servicios de consultoria
                    </li>     
                      <br>       
                    <li class="list-group-item-action" routerLink="/informe"> 
                        ‎ ‎ ‎ ‎ ‎ ‎ Control de la calidad del Software
                    </li>
                      <br>
                    <li class="list-group-item-action" routerLink="/requisitos"> 
                        ‎ ‎  ‎ ‎ ‎ ‎ Medición de la calidad del Software
                    </li>
                </ul>
            </div> 
            <div class="col-md-4">
                <img src="./assets/logo-arquisw.png">    
            </div>           
        </div>
    </section>
</body>