<body class="body">
    <section class="titulo">
        <h1>Requisitos</h1>
    </section>
    <hr>
    <section class="contenido">              
            <div class="row">
            <div class="col-md-5">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                      <li class="breadcrumb-item"><a href="/inicio" style="text-decoration: none; color: #026f35">Inicio</a></li>
                      <li class="breadcrumb-item active" aria-current="page">Requisitos</li>
                    </ol>
                  </nav>  
                <img src="./assets/logo-arquisw.png">
            </div>           
            <div class="col-md-4">
                <br><br>
                <ul class="list-group">
                    <a download="MANUAL" href="./assets/MANUAL.pdf"><li class="list-group-item-action" > ‎ ‎ ‎ ‎ ‎ ‎ ¿Cómo funciona?</li>    </a>   
                      <br>      
                    <li class="list-group-item-action" routerLink="/requisitos/consultar"> ‎ ‎ ‎ ‎ ‎ ‎ Consultar requisitos</li>
                      <br>
                      <li class="list-group-item-action" routerLink="/requisitos/registrar"> ‎ ‎ ‎ ‎ ‎ ‎ Registrar requisitos</li> 
                      <br> 
                    <li class="list-group-item-action" routerLink="/requisitos/consultar"> ‎ ‎ ‎ ‎ ‎ ‎ Calificar requisitos</li>                      
                </ul>
            </div> 
        </div>
    </section>
</body>