<body class="body">
    <section class="titulo">
        <h1>Informes</h1>
    </section>
    <hr>
    <section class="contenido">              
            <div class="row">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                      <li class="breadcrumb-item"><a href="/inicio" style="text-decoration: none; color: #026f35">Inicio</a></li>
                      <li class="breadcrumb-item active" aria-current="page">Informes</li>
                    </ol>
                  </nav> 
            <div class="col-md-5">
                 
                <h1>Aquí va una grafica</h1>
            </div>           
            <div class="col-md-5">
                
                
                <h1>Aquí va una grafica</h1>
            </div> 
        </div>
    </section>
</body>