<body class="body">
    <section class="titulo">
        <h1>Requisitos</h1>
    </section>
    <hr>
    <section class="contenido">              
            <div class="row">
            <div class="col-md-5">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                      <li class="breadcrumb-item"><a href="/inicio" style="text-decoration: none; color: #026f35">Inicio</a></li>
                      <li class="breadcrumb-item active" aria-current="page">Informe</li>
                    </ol>
                  </nav>  
                <img src="./assets/img.jpg">
            </div>           
            <div class="col-md-4">
                <br><br>
                <ul class="list-group">                    
                    <li class="list-group-item-action" routerLink="/informe/ndmDistError"> ‎ ‎ ‎ ‎ ‎ ‎ Distribución de Error General</li>
                      <br>
                    <li class="list-group-item-action" routerLink="/informe/ndmDistErrorNoFunc"> ‎ ‎  ‎ ‎ ‎ ‎ Distribución de Error Requisitos Tipo No Funcional </li>
                      <br>
                    <li class="list-group-item-action" routerLink="/informe/ndmDistErrorFunc"> ‎ ‎  ‎ ‎ ‎ ‎ Distribución de Error Requisitos Tipo Funcional</li>
                      <br>
                    <li class="list-group-item-action" routerLink="/informe/ndm"> ‎ ‎  ‎ ‎ ‎ ‎ Nivel de Madurez</li>
                      <br>   
                </ul>
            </div> 
        </div>
    </section>
</body>