.body{    
    background-color: #292d33;
    color: white;  
    height: 100vh;
}

.titulo{
    padding-top: 5%;
    padding-left: 15%;
    color: white;
}
hr{
    margin-left: 5%;
    margin-right: 5%;
}
.contenido {
    margin-left: 8%;
    font-size: 1.5rem;
}
.card{
    margin: 1%;
    color: white;
    background-color: #292d33;
    border-color: white;
}

.card:hover{    
    background-color: #292d33;    
    border-color: #7df802;
    cursor: pointer;
    .btn{
        background-color: #7df802;
        color: black;
    }
}

html, body {
    max-width: 100% !important;
    overflow-x: hidden !important;
}
.btn{   
    margin-left: 70%;
}
.breadcrumb{
    margin-left: 140px;
}


