.nav-link, .modal-title, .dropdown-item
{    
  font-size: 1.2rem;
  cursor: pointer;
}

.nav-item:hover{
    background-color: #026f35;     
    color: white;
}

.informe, .registrar{
  pointer-events: none;
  opacity: 0.5;
}

.navitem{
    margin-right: 10%;    
}

.dropdown-item:hover{
  color: #026f35;
  background-color: #292d33;
}
.dropdown-item:active, .dropdown-item:hover{
  background-color: #026f35;     
  color: white;
}

.dropdown:hover .dropdown-menu {
  display: block;
}

li
{
  margin-right: 10px;
}
