 <nav class="navbar navbar-expand-lg navbar-dark bg-dark justify-content-end">
  <a class="navbar-brand" href="#"><img src="../../../../assets/logo-arquisw.png" style="width: 80px; height: 80px; margin-left: -1200%;" alt="Imagen del Logo de ArquiSW"></a>
    <div class="navitem">  
          
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarText">      
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
          <li class="nav-item">
              <a class="nav-link active" aria-current="page" routerLink="/inicio">Inicio</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link active" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false" routerLink="/requisitos"> 
              Requisitos
            </a>
            <ul class="dropdown-menu dropdown-menu-end dropdown-menu-dark" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" routerLink="/requisitos/consultar">Consultar</a></li>
              <div [ngClass]="{'registrar':!restriccion}">
                <li>
                  <a class="dropdown-item" routerLink="requisitos/registrar">Registrar</a>
              </li>
              </div>   
              <li><a class="dropdown-item" routerLink="/requisitos/consultar">Calificar</a></li>
            </ul>
          </li>
          <div [ngClass]="{'informe':!restriccion}">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" routerLink="/informe">Informes</a>
          </li>
          </div>          
          
          <li class="nav-item dropdown">
            <a class="nav-link active" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Nosotros
            </a>
            <ul class="dropdown-menu dropdown-menu-end dropdown-menu-dark" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" (click)="redirigirProyecto()">Proyectos</a></li>
              <li><a class="dropdown-item" (click)="redirigirPresentacion()">Presentación</a></li>
              <li><a class="dropdown-item" aria-current="page" (click)="redirigirFundamento()">Fundamentación</a></li>
              <li><a class="dropdown-item" (click)="redirigirResponsable()">Responsables</a></li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link active" href="#" id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Usuario
            </a>
            <ul class="dropdown-menu dropdown-menu-end dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink">   
                <li><a class="dropdown-item" routerLink="/acercanosotros">Cerrar Sesion</a></li>           
            </ul>
          </li>
      </ul>
    </div>
    </div>
</nav>
