<body class="body">
    <section class="titulo">
        <h1 >Registrar requisitos</h1>
    </section>
    <section class="descripcion">
        <br>
        <h5>Recuerde que si su proyecto ya tiene un proceso de ingenieria de requisitos no debe registrar sus requerimientos</h5>
    </section>
    <section class="contenido">
      <hr>
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/inicio" style="text-decoration: none; color: #026f35">Inicio</a></li>
            <li class="breadcrumb-item"><a href="/requisitos"style="text-decoration: none; color: #026f35">Requisitos</a></li>
            <li class="breadcrumb-item active" aria-current="page">Registrar</li>
        </ol>
      </nav> 
        <div class="row">   
            <div class="col-1"></div>      
            <div class="col-6">
              <div class="formUser">
                <form (ngSubmit)="guardar(formularioRequisito)" #formularioRequisito="ngForm"> 
                  <div class="row">
                    <div class="col-7">
                      <div class="form-group form-control-lg ">
                        <label>Nombre</label>
                        <input type="text" name="nombre" ngModel class="form-control form-control-lg" placeholder="Ingrese el nombre" required>
                        <span class="form-text text-danger" *ngIf="formularioRequisito.controls['nombre']?.touched && formularioRequisito.controls['nombre']?.invalid">Campo obligatorio </span>
                      </div>
                    </div>
                    <div class="col-5">
                      <div class="form-group form-control-lg col-6">
                        <label>Tipo de requisito</label>
                        <br>                  
                        <select class="form-group form-control-lg" ngModel name="tipoRequisito" id="tipoRequisito" required>
                            <option value="Funcional" selected>Funcional</option>
                            <option value="NO Funcional">NO Funcional</option>
                        </select>
                      </div>  
                    </div>  
                  </div>
                  <div class="form-group form-control-lg">
                    <label >Descripcion</label>
                    <textarea type="text" rows="5" name="descripcion" ngModel class="form-control form-control-lg"  placeholder="Ingrese la descripcion" required>      </textarea>             
                    <span class="form-text text-danger" *ngIf="formularioRequisito.controls['descripcion']?.touched && formularioRequisito.controls['descripcion']?.invalid">Campo obligatorio </span>
                  </div>                      
                  <br>  
                  <div class="d-grid gap-2 col-2 mx-auto">
                    <button type="button" class="btn btn-success btn-lg" (click)="guardar(formularioRequisito)">Guardar</button>
                  </div>
                </form>
              </div>            
            </div>
            <div class="col-5">
                <img src="./assets/img.jpg">
            </div>
          </div>
    </section>
</body>