<body class="body" >
    <section class="titulo">
        <h1 >Consultar</h1>               
    </section>   
    <hr>  
    <section class="contenido">   
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/inicio" style="text-decoration: none; color: #026f35">Inicio</a></li>
                <li class="breadcrumb-item"><a href="/requisitos"style="text-decoration: none; color: #026f35">Requisitos</a></li>
                <li class="breadcrumb-item active" aria-current="page">Consultar</li>
            </ol>
        </nav>       
        <div class="row">
            <div class="card" style="width: 50rem;" *ngFor="let requisito of requisitos | paginate : {itemsPerPage:10, currentPage: paginaActual}">
                <div class="card-body" [routerLink]="['/requisitos/detalle', requisito.requirementId]">
                    <h4 class="card-title">{{requisito.name}}</h4>
                    <h6 class="card-subtitle mb-2" >tipo de requisito:{{requisito.typeRequirement}}</h6>
                    <h6 class="card-text" >{{requisito.description}}</h6>
                    <a [routerLink]="['/requisitos/detalle/', requisito.requirementId]"></a>
                    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                        <button type="button" [disabled]="acceso" class="btn btn-light" [routerLink]="['/requisitos/calificar/', requisito.requirementId]">Calificar</button>
                        <button type="button" class="btn btn-light" [routerLink]="['/requisitos/detalle/', requisito.requirementId]">Detalles</button>
                    </div>                                       
                </div>
            </div>
            <!--<button type="button" *ngFor="let operacion of operaciones | paginate : {itemsPerPage:10, currentPage: paginaActual}" [disabled]="operacion.qualified" class="btn btn-light" [routerLink]="['/requisitos/calificar/', operacion.requirementId]">Calificar</button>-->
        </div> 
        <button type="button" (click)="mostrar()"></button>
        <pagination-controls previousLabel="Anterior" nextLabel="Siguiente" (pageChange)="paginaActual = $event"></pagination-controls>
    </section>
</body> 